CADASTRO_API_BASE_URL=/api/v1
IDENTIFICACAO_API_BASE_URL=http://localhost:5100/api/v1
ARRECADACAO_API_BASE_URL=http://localhost:5003/api/v1
DISTRIBUICAO_API_BASE_URL=http://localhost:5004/api/v1
OIDC_AUTHORITY=https://9lcinu.logto.app/oidc
OIDC_CLIENT_ID=mcad-frontend
OIDC_AUDIENCE=https://api.mcad.local
OIDC_REDIRECT_URI=http://localhost:5173/callback
OIDC_POST_LOGOUT_REDIRECT_URI=http://localhost:5173/logout
