POSTGRES_USER=gestauto
POSTGRES_PASSWORD=change-me-postgres
POSTGRES_DB=mcad
CADASTRO_DB_PASSWORD=change-me-cadastro
IDENTIFICACAO_DB_PASSWORD=change-me-identificacao
ARRECADACAO_DB_PASSWORD=change-me-arrecadacao
DB_PASSWORD_DISTRIBUICAO=change-me-distribuicao
RABBITMQ_USER=brhqehoy
RABBITMQ_PASSWORD=BP3SznplJcc2dlul3thHIflr3HjEoJ26
RABBITMQ_VHOST=brhqehoy
MINIO_ROOT_USER=mcadadmin
MINIO_ROOT_PASSWORD=change-me-minio
AUTH_ENABLED=true
OIDC_AUTHORITY=https://9lcinu.logto.app/oidc
OIDC_AUDIENCE=https://api.mcad.local
CORS_ALLOWED_ORIGINS=https://mcad.tasso.dev.br
ISWC_BASE_URL=https://iswc.tasso.dev.br/
CADASTRO_API_IMAGE=tassosgomes/mcad-cadastro-api:0.1.0
IDENTIFICACAO_API_IMAGE=tassosgomes/mcad-identificacao-api:latest
ARRECADACAO_API_IMAGE=tassosgomes/mcad-arrecadacao-api:latest
DISTRIBUICAO_API_IMAGE=tassosgomes/mcad-distribuicao-api:latest
CADASTRO_API_HOST=mcad-cadastro.tasso.dev.br
IDENTIFICACAO_API_HOST=mcad-identificacao.tasso.dev.br
ARRECADACAO_API_HOST=mcad-arrecadacao.tasso.dev.br
DISTRIBUICAO_API_HOST=mcad-distribuicao.tasso.dev.br
DISTRIBUICAO_API_REPLICAS=1
ARRECADACAO_API_REPLICAS=1
IDENTIFICACAO_API_REPLICAS=1
CADASTRO_API_REPLICAS=1
FRONTEND_OIDC_CLIENT_ID=b0o8w18syrv95gd2o3kee
FRONTEND_OIDC_AUTHORITY=https://9lcinu.logto.app/oidc
FRONTEND_OIDC_AUDIENCE=https://api.mcad.local
OIDC_REDIRECT_URI=https://mcad.tasso.dev.br/callback
OIDC_POST_LOGOUT_REDIRECT_URI=https://mcad.tasso.dev.br/
FRONTEND_IMAGE=tassosgomes/mcad-frontend:latest
