IDENTIFICACAO_DB_HOST=localhost
IDENTIFICACAO_DB_PORT=5432
IDENTIFICACAO_DB_NAME=mcad
IDENTIFICACAO_DB_USER=postgres
IDENTIFICACAO_DB_PASSWORD=postgres
IDENTIFICACAO_DB_SCHEMA=identificacao

AUTH_ENABLED=true
OIDC_AUTHORITY=http://localhost:8080/realms/mcad
OIDC_AUDIENCE=mcad-frontend

CADASTRO_API_BASE_URL=http://localhost:5001/api/v1

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=mcadadmin
MINIO_SECRET_KEY=mcadadmin123
