# Database
CADASTRO_DB_HOST=localhost
CADASTRO_DB_PORT=5432
CADASTRO_DB_NAME=mcad
CADASTRO_DB_SCHEMA=cadastro
CADASTRO_DB_USER=cadastro_svc
CADASTRO_DB_PASSWORD=

# API
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:5001
